@import "tailwindcss";

:root {
  --font-noto-kufi-arabic: "Noto Kufi Arabic", "Noto Kufi Arabic Fallback", sans-serif;
}

body{
  background-color: white;
  font-family: var(--font-noto-kufi-arabic);
}